@media (max-width: 1920px){
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
}
@media (max-width: 1600px){
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }
}
@media (max-width: 1440px){
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}
@media (max-width: 768px){
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}
.paciente-name{
    font-size: 24px;
}